.credentials-box {
	position: relative;
	padding: 34rpx 24rpx 32rpx;
	margin-bottom: 20rpx;
	background: #fff;
	border-radius: 0 0 24rpx 24rpx;
	overflow: auto;

	.info-title {
		color: #3e3e40;
		display: inline-block;
		font-size: 32rpx;
		font-weight: 700;
		height: 44rpx;
		line-height: 44rpx;
		margin-bottom: 20rpx;
	}

	.picture {
		display: flex;
		align-items: center;
		margin-top: 24rpx;

		.picture-box {
			flex: 1;
			height: 212rpx;
			position: relative;
			overflow: hidden;
			border: 2rpx solid #eeeeee;
			box-sizing: border-box;
			border-radius: 16rpx;

			.upload {
				width: 100%;
				height: 100%;
				position: relative;
			}

			.uploadBg {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				left: 0;
				position: absolute;
				top: 0rpx;

				.camera-bg {
					height: 80rpx;
					margin: 0 auto;
					width: 80rpx;

					.camera {
						width: 100%;
					}
				}

				.tips {
					color: #3e3e40;
					font-size: 24rpx;
					font-weight: 700;
					height: 34rpx;
					letter-spacing: 0;
					line-height: 40rpx;
					margin: 8rpx auto 0;
					text-align: center;
					width: 80%;
				}
			}

			@mixin bg-image($url) {
				background: url(#{$prefix}#{$url}) no-repeat;
				background-size: 100% 100%;
			}
			
			@mixin bg-img-url($url) {
				background: url(#{$prefix}#{$url}) no-repeat;
				background-size: 80% 80%;
				background-position: center;
			}

			.lepUrla0 {
				@include bg-image('appV4/image/wallet/identity-card.png');
			}

			.lepUrlb0 {
				@include bg-image('appV4/image/wallet/back-side.png');
			}

			.lepUrla1 {
				@include bg-image('appV4/image/wallet/region.png');
			}

			.lepUrlb1 {
				@include bg-image('appV4/image/wallet/Gregion-side.png');
			}

			.lepUrla2 {
				@include bg-image('appV4/image/wallet/out-region.png');
			}

			.lepUrlb2 {
				@include bg-image('appV4/image/wallet/Tregion.png');
			}

			// 营业执照
			.blicUrla {
				@include bg-image('appV4/image/wallet/license.png');
			}

			// 登记证书
			.bg-four {
				@include bg-image('appV4/image/wallet/register.png');
			}

			// 证明函
			.bg-five {
				@include bg-image('appV4/image/wallet/prove.png');
			}

			// 请选择行业类型
			.bg-six {
				@include bg-image('appV4/image/wallet/trade.png');
			}

			// 银行卡
			.cardPhoto {
				@include bg-image('appV4/image/wallet/nextPress/card.png');
			}
			
			// 门头照
			.img {
				@include bg-img-url('appV4/image/wallet/nextPress/three-one.png');
			}
			.enterimg {
				@include bg-img-url('appV4/image/wallet/nextPress/three-two.png');
			}
			.innerimg {
				@include bg-img-url('appV4/image/wallet/nextPress/three-dboth.png');
			}
			
		}


		.picture-box:not(:first-child) {
			margin-left: 16rpx;
		}
	}
}

.des {
	color: #999;
	font-size: 24rpx;
	font-weight: 500;
	line-height: 38rpx;
	padding: 8rpx 0 0 0;
	text-align: left;
}

.inline-icon {
	display: inline-block;
	margin-right: 8rpx;
}

.xls-step-bottom {
	padding-bottom: 192rpx;

	.bottom-fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		padding: 16rpx 24rpx;
	}
	
	.padding {
		padding-top: 88rpx;
	}

	.text-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 64rpx;
		line-height: 64rpx;
		display: flex;
		align-items: center;
		color: rgb(255, 141, 26);
		background: rgb(255, 247, 230);
		font-size: 26rpx;
		padding: 0rpx 24rpx;

		.text {
			margin-left: 16rpx;
		}
	}

	.bottom-divider {
		overflow: hidden;
		@include center-flex();
		
		.prev-button {
			align-items: center;
			color: #5241ff;
			display: flex;
			font-size: 28rpx;
			font-weight: 700;
			height: 88rpx;
			letter-spacing: 0;
			line-height: 88rpx;
			margin-right: 108rpx;
			
			.text {
			  display: inline-block;
			  margin-left: 8rpx;
			}
		}

		.btn-wrapper {
			flex: 1;
			height: 88rpx;
			line-height: 88rpx;
			text-align: center;
			color: #fff;
			font-size: 32rpx;
			font-weight: 700;
			background-color: #5241ff;
			border-radius: 12rpx;
			
			.text {
			  line-height: 44rpx;
			}
			
			.detail {
			  font-size: 22rpx;
			  line-height: 32rpx;
			}
		}

		.disabled {
			opacity: 0.6;
			pointer-events: none;
		}
	}
}


.xls-cell {
	padding: 24rpx 0;
	display: flex;
	width: 100%;
	position: relative;
}

.xls-cell:after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    right: .426667rem;
    bottom: 0;
    left: .426667rem;
    border-bottom: .026667rem solid #ebedf0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

.xls-field__label {
	color: #999;
	flex-grow: 0;
	margin-right: 64rpx;
	width: 0;
	min-width: 112rpx;
	font-size: 28rpx;
	font-weight: 500;
	height: 48rpx !important;
	line-height: 48rpx !important;
}

.xls-field__body {
	flex: 1;
	font-size: 26rpx;
	color: #323233;
	text-align: left;
}

.xls-field__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    color: #323233;
	height: 48rpx !important;
    line-height: 48rpx !important;
	min-height: 48rpx !important;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;
}

.xls-field__icon {
	width: 98rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
}