	.address-container {
		background-color: #fff;
		padding: 10px 2.5%;
		font-size: 16px;

		.total-equipments {
			background: #5241ff;
			border-radius: 3px;
			box-sizing: border-box;
			font-size: 13px;
			color: #fff;
			margin-left: 5px;
			padding: 1px 3px;
			text-align: center;
		}

		.address {
			color: #8f8f94;
			font-size: 14px;
			padding-top: 2px;
		}
	}

	.type-con {
		background-color: #fff;
		overflow: hidden;
		padding-bottom: 5px;
		width: 100%;

		.type-con_ul::-webkit-scrollbar {
			display: none;
		}

		.type-con_ul {
			overflow-x: auto;
			white-space: nowrap;
			width: 100%;
			font-size: 14px;

			.item {
				width: 80px;
				text-align: center;
				display: inline-block;

				.num-color {
					color: #8f8f94;
					font-size: 12px;
				}

				.type-img {
					width: auto;
					height: 24px;
				}
			}

			.active {
				color: #5241ff !important;
			}
		}
	}

	.batchSetting {
		margin-top: 10px;
		width: 100%;
		background-color: #fff;

		.content-header {
			align-items: center;
			display: flex;
			font-size: 15px;
			justify-content: space-between;
			padding: 2.5% 15px;
			border-bottom: 1px solid #e5e5e5;

			.right {
				color: #5241ff;

				.line {
					background: #d2d2d2;
					height: 15px;
					width: 1px;
					margin: 0 10px;
				}
			}
		}

		.list-container {
			margin-left: 2.5%;

			.item {
				padding-right: 2.5%;
				align-items: center;
				display: flex;
				font-size: 15px;
				justify-content: space-between;
				height: 45px;
				border-bottom: 1px solid #e5e5e5;

				.handle-list {
					display: flex;
					align-items: center;

					.close-right {
						padding: 5px 5px 5px 10px;
						box-sizing: border-box;
					}

					.grade {
						padding: 5px 5px 5px 10px;
						transform: rotate(180deg);
						box-sizing: border-box;
					}
				}
			}
		}
	}

	.upgrade {
		margin-right: 10px;
	}

	.handle-btn {
		border: 1px solid #d0d0d0;
		border-radius: 3px;
		color: rgba(65, 65, 65, 0.6);
		display: inline-block;
		font-size: 14px;
		height: 28px;
		line-height: 28px;
		padding: 0 12px;
	}

	.wrapper {
		height: 64px;
		background: #f5f6f7;
		padding-top: 14px;

		.step-wrapper {
			background-color: #f5f6f7;
			bottom: 0;
			left: 0;
			padding: 10px 15px;
			position: fixed;
			width: 100%;

			.btn {
				background: #5241ff;
				border-radius: 5px;
				color: #fff;
				display: block;
				font-size: 15px;
				height: 44px;
				line-height: 44px;
				text-align: center;
				width: 100%;
			}
		}
	}

	.edit-info {
		color: #262626;
		font-size: 14px;
		line-height: 22px;
		padding: 16px 20px 20px;

		.input-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-height: 30px;
			margin-top: 18px;

			.input-wrap {
				width: 66%;
				height: 35px;
				box-sizing: border-box;
				border: 1px solid #d9d9d9;
				border-radius: 4px;
				color: #262626;
				font-size: 15px;
				margin: 0;
				padding: 0 5px 0 5px;
				line-height: 35px;
				display: flex;
				align-items: center;
				text-align: center;

				.num {
					width: 35%;
					text-align: right;
					box-sizing: border-box;
					white-space: nowrap;
				}
			}

			.disabled {
				pointer-events: none;
				background: #f9f9f9;
			}

			.stepper {
				padding: 0;
				text-align: center;

				.field {
					flex: 1;
				}

				.btn {
					width: 40px;
					height: 35px;
					box-sizing: border-box;
				}

				.sub {
					border-right: 1px solid #ddd;
				}

				.add {
					border-left: 1px solid #ddd;
				}
			}
		}

		.tips {
			color: #999;
			font-size: 12px;
			text-align: justify;
		}

		.diy-dbj-info {
			color: #8c8c8c;
			font-size: 13px;
			margin-top: 15px;
		}
	}

	.mealSettting {
		width: 100%;
		margin-top: 10px;
		color: #262626;
		font-family: PingFangSC, PingFangSC-Regular;

		.content-header {
			padding: 17px 2.5%;
			display: flex;
			align-items: center;
			background: #fff;

			.title {
				font-size: 16px;
				font-weight: 600;
				color: #262626;

				.txt {
					color: #262626;
					font-size: 12px;
					font-weight: 400;
					margin-left: 8px;
				}
			}
		}

		.tab-header-box {
			background-color: #f6f6f6;
			padding: 6px 2.5% 5px;
			display: flex;
			font-size: 14px;
			font-weight: 400;
			text-align: center;

			.discount {
				flex: 1;
				text-align: left;
			}

			.status {
				flex: 3;
			}

			.operate {
				flex: 1;
			}
		}

		.list-item {
			background: #fff;
			width: 100%;
		}

		.list-content {
			margin-left: 2.5%;
			padding-right: 2.5%;
			min-height: 50px;
			border-bottom: 1px solid #ddd;
			display: flex;
			align-items: center;

			.currencyQuantity-pay {
				flex: 1;
				font-size: 15px;
				font-weight: 400;
			}

			.status-txt {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.type-text {
					border-radius: 2px;
					font-size: 12px;
					height: 18px;
					line-height: 18px;
					text-align: center;
					width: 56px;
					color: #838383;
					background-color: #eaeaea;
					box-sizing: border-box;
				}

				.disable-txt {
					background-color: #ffd6d6;
					color: #ff4a4a;
				}

				.custom {
					background-color: #e6e4fe;
					color: #5241ff;
				}
			}

			.opera-btns {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.opera-btn {
					border: 1px solid #5241ff;
					border-radius: 5px;
					color: #5241ff;
					font-size: 12px;
					font-weight: 400;
					height: 24px;
					line-height: 24px;
					text-align: center;
					width: 48px;
				}

				.edit-status-btn {
					margin-left: 6px;
				}
			}
		}
	}

	.add-btn {
		align-items: center;
		border-top: 1px solid #e5e5e5;
		color: #5241ff;
		display: flex;
		font-size: 16px;
		font-weight: 400;
		padding: 13px 2.5%;
	}

	.redmine-tips {
		background: #fbe6e2;
		color: #d9463e;
		padding: 8px 15px;
		font-size: 14px;
		line-height: 22px;
		text-align: justify;

		p {
			color: #d9463e;
			margin: 0;
			padding: 0;
			font-size: 16px;
			padding-bottom: 5px;
		}
	}

	//售货机
	.switch-box {
		width: 100px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.switch {
			margin-right: 6px;
		}
	}

	.shjMeal {
		width: 100%;
		margin-top: 10px;

		.header-mode {
			align-items: center;
			background-color: #fff;
			display: flex;
			font-size: 15px;
			justify-content: space-between;
			margin-bottom: 10px;
			padding: 12px 2.5%;
		}

		.service-name {
			display: flex;
			align-items: center;
			height: 50px;
			padding: 0 2.5%;
			background: #fff;
			font-size: 14px;

			.play-off {
				transform: rotate(-90deg);
			}

			.play-on {
				transform: rotate(90deg);
			}

			.trangle {
				font-size: 15px;
				margin-left: 12px;
			}

			.addBtn {
				color: #5241ff;
				padding-left: 30px;
			}

			.time {
				margin-left: 10px;
			}
		}

		.content-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.bg {
		background: #fff;
	}

	.gashapon {
		width: 100%;
		margin-top: 10px;

		.recharge-management {
			padding: 10px 2.5%;
			background: #fff;

			.recharge-entry {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.text {
					flex: 1;
					font-size: 15px;
					display: flex;
					align-items: center;
				}

				.image {
					width: 17px;
					margin-left: 5px;
				}
			}
		}

		.children {
			margin-left: 15px;
			margin-top: 10px;
		}
		
		.childrenDBJ {
			margin-top: 10px;
		}

		.refund {
			padding: 12px 2.5%;
			margin: 10px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.list-name {
				font-size: 15px;
				display: flex;
				align-item: center;

				.image {
					width: 17px;
					margin-left: 5px;
				}

				.tip {
					font-size: 10px;
					margin-left: 5px;
					color: #8f8f94;
				}
			}

			.offline {
				font-size: 15px;
				white-space: nowrap;
				display: flex;
				align-items: center;
			}
		}
	}

	//其他
	.otherDevice {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.popup-title {
			background: #fafafa;
			color: rgba(0, 0, 0, 0.9);
			font-size: 17px;
			height: 44px;
			line-height: 44px;
			text-align: center;
		}

		.close-btn {
			background: #fff;
			border-top: 1px solid #e0e0e0;
			color: #000;
			font-size: 16px;
		}

		.universal-list {
			flex: 1;
			border-top: 1px solid #eee;
			display: flex;
			flex-wrap: wrap;

			.item {
				border-bottom: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;
				color: #3b3d44;
				height: 100px;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 10px;
				width: 33.33%;
				text-align: center;

				.name {
					font-size: 14px;
				}

				.number {
					font-size: 12px;
				}
			}
		}
	}

	.null {
		margin: 80px auto 80px;
		text-align: center;
		width: 76.67%;

		.image {
			width: 128px;
		}

		.font-size_30 {
			font-size: 15px;
			line-height: 30px;
		}

		.mint-button {
			font-size: 18px;
			height: 40px;
			line-height: 40px;
			width: 100%;
			border-radius: 4px;
			background-color: #5241ff;
			color: #fff;
			margin-top: 18px;
		}
	}

	.gashapon-machine {
		width: 100%;
		height: 60vh;
		max-height: 1000rpx;

		.title-box {
			border-bottom: 1px solid #e5e5e5;
			font-size: 14px;
			height: 44px;
			line-height: 44px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.btn {
				padding: 0 10px;
				font-size: 15px;
			}

			.cancel {
				color: #616161;
			}

			.confirm {
				color: #5241ff;
			}
		}

		.desc {
			background: #fffeec;
			color: #ff6b16;
			font-size: 13px;
			font-weight: 500;
			line-height: 34px;
			padding: 0 10px;
		}

		.radio-item {
			border-bottom: 1px solid #e5e5e5;
			display: flex;
			align-items: center;
			padding: 10px 0;

			.left-icon {
				padding: 10px;
			}

			.right-text {
				.radio-title {
					color: #010101;
					font-size: 15px;
					font-weight: 700;
				}

				.radio-sub-title {
					color: #616161;
					font-size: 13px;
				}
			}
		}
	}

	.btn-confirm {
		padding-bottom: 15px;
		text-align: center;

		.close {
			border: 1px solid #999;
			border-radius: 5px;
			display: inline-block;
			margin-top: 15px;
			padding: 5px 40px;
		}
	}

	.introduce {
		padding: 0 15px;
		text-align: justify;

		.weight {
			font-weight: 700;
		}
	}

	.gashaponNotice {
		color: #262626;
		font-size: 14px;
		width: 345px;
		line-height: 21px;

		.img-one {
			margin: 10px 15px;
			width: 315px;
		}

		.img-two {
			margin: 10px 35px;
			width: 270px;
		}
	}

	.gashaponNoticeEnd {
		color: #262626;
		width: 345px;
		font-size: 14px;
		line-height: 21px;

		.title {
			border-bottom: 1px solid #eee;
			font-size: 16px;
			height: 44px;
			line-height: 44px;
			text-align: center;
		}

		.position {
			margin-top: 25px;
		}

		.ic-close {
			position: absolute;
			right: 15px;
			width: 25px;
		}
	}

	.disableShit {
		opacity: 0.5;
		pointer-events: none !important;
	}